body {
  background: #181818;
  margin: 0;
}

header {
  color: #b3b3b3;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(4, 160px);
  margin-bottom: 40px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pokeball {
  height: 75px;
  width: 75px;
}

.card .view {
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.card.flip .front-view {
  transform: rotateY(180deg);
}
.card {
  transition: opacity 0.3s;
}

.wrong {
  opacity: 0;
}

button {
  padding: 10px;
  background-color: #404040;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  box-shadow: 10px black;
}