body {
    text-align: center;
    font-family: sans-serif;
    background-color: #181818;
}

h1 {
    color: #b3b3b3;
    padding-top: 10%;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 415px;
    margin-left: 38%;
    row-gap: 5px;
    column-gap: 5px;
}

.boxes-top,
.boxes-bottom {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.boxes-top:hover,
.boxes-bottom:hover {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

img {
    height: 100px;
    width: 100px;
}

.card {
    /* backface-visibility: hidden; */
}

#mons,
#mons-bottom {
    margin-top: -200px;
    backface-visibility: hidden;
    transform: rotateY(180deg);

}

.charizard {
    height: 100%;
    width: 100%;
}

.pikachu {
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.zapdos {
    width: 110px
}

.moltres {
    width: 108px;
}

.mewtwo {
    width: 110px;
}