* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #181818;
}

header {
  color: #b3b3b3;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(4, 160px);
  margin-bottom: 40px;
  margin-top: 40px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pokeball {
  height: 75px;
  width: 75px;
}

.card .view {
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.card.flip .front-view {
  transform: rotateY(180deg);
}
.card {
  transition: opacity 0.3s;
}

.wrong {
  opacity: 0;
}

button {
  padding: 10px;
  background-color: #404040;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  box-shadow: 10px black;
  font-size: 15px;
}

.popup {
  text-align: center;
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 600px;
  padding: 20px 30px;
  background: #282828;
  color: #b3b3b3;
  box-shadow: 2px 2px 5px 5px rgb(0,0,0,0.15);
  border-radius: 5px;
  z-index: 1;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popup h1 {
  padding: 20px;
}

.popup p {
  padding: 10px;
  font-size: 20px;
}
.popup button {
  margin-top: 20px;
}

@media (max-width: 480px) {

  body {
    width: full;
  }

  h1 {
    padding-top: 10px;
  }

  .game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 160px);
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .popup {
    width: 350px;
  }
}

